/* Generals */
body {
  font-family: 'Roboto', sans-serif;
}

p {
  text-align: justify;
  margin: 20px;
  line-height: 32px;
  font-size: 1.3em;
}

ul {
  list-style-type: none;
}

/* Header */
header img {
  width: 375px;
}

/* Titles */
h1 {
  font-size: 1.5em;
  padding-bottom: 20px;
}

h3 {
  font-size: 1.1em;
  text-decoration: underline;
  margin-bottom: 30px;
}

h1,
h3 {
  font-family: 'Fipps', Arial, sans-serif;
  line-height: 30px;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

/* Main */
article img {
  width: 325px;
  display: block;
  margin: auto;
}

/* Footer */
footer {
  width: 90%;
  margin: auto;
  border: 1px dashed black;
  background-color: lightgrey;
  padding-top: 10px;
  margin-bottom: 10px;
}

/* Separator */
.separator {
  width: 80%;
	height: 2px;
  margin: 20px auto 20px auto;
  border-radius: 50%;
	display: block;
	background: rgb(231, 26, 26);
}

/* Fonts */
@font-face {
  font-family: "Fipps";
  src: url('font/Fipps-Regular.otf') format('truetype');
 }

 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');