/* Generals */
body {
  font-family: 'Roboto', sans-serif;
}

header img {
  width: 375px;
}

h1 {
  font-size: 1.5em;
  padding-bottom: 20px;
}

h3 {
  font-size: 1.1em;
  text-decoration: underline;
}

h1, h3 {
  font-family: 'Fipps', Arial, sans-serif;
}

h1, h2, h3 {
  text-align: center;
}

p {
  text-align: justify;
  margin: 20px;
  line-height: 32px;
}


/* Separator */
.separator {
  width: 80%;
	height: 2px;
  margin: 20px auto 20px auto;
  border-radius: 50%;
	display: block;
	background: rgb(231, 26, 26);
}

/* FONT(s) */
@font-face {
  font-family: "Fipps";
  src: url('font/Fipps-Regular.otf') format('truetype');
 }

 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');