/* Generals */
body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(#faebd7 50%, #ffa500);
}

p {
  text-align: justify;
  margin: 20px;
  line-height: 32px;
  font-size: 1.3em;
}

ul {
  list-style-type: none;
}

/* Header */
header img {
  width: 375px;
}

/* Titles */
h1 {
  font-size: 1.5em;
  padding-bottom: 20px;
}

h3 {
  font-size: 1.1em;
  text-decoration: underline;
  margin-bottom: 30px;
}

h1,
h3 {
  font-family: 'Fipps', Arial, sans-serif;
  line-height: 30px;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

/* Main */
article img {
  width: 325px;
  display: block;
  margin: auto;
}

.card {
  width: 80%;
}

/* Footer */
footer {
  width: 90%;
  margin: auto;
  border: 1px dashed black;
  background-color: lightgrey;
  padding-top: 10px;
  margin-bottom: 10px;
}

/* Separator */
.separator {
  width: 80%;
  height: 2px;
  margin: 20px auto 20px auto;
  border-radius: 50%;
  display: block;
  background: rgb(231, 26, 26);
}

/* Media queries */
@media all and (min-width: 576px) {
  header img {
    width: 500px;
  }

  article img {
    width: 500px;
  }

  h1 {
    font-size: 1.6em;
  }

  h3 {
    font-size: 1.3em;
    width: 90%;
    margin: auto;
  }
}

@media all and (min-width: 768px) {
  header img {
    width: 700px;
  }

  h1 {
    font-size: 1.8em;
  }

  article img {
    width: 700px;
  }

  article p {
    width: 700px;
    margin: 30px auto;
    line-height: 36px;
  }
}

@media all and (min-width: 992px) {
  article img {
    width: 900px;
  }

  article p {
    width: 900px;
  }
}

@media all and (min-width: 1200px) {
  header img {
    width: 800px;
  }

  h1 {
    font-size: 1.9em;
  }

  h3 {
    font-size: 1.5em;
  }

  article img {
    width: 1000px;
  }

  article p {
    width: 1000px;
  }

  a:hover {
    font-weight: bold;
  }
}

@media all and (min-width: 1400px) {
  h1 {
    font-size: 2em;
  }

  .progress {
    width: 60%;
    margin: auto;
  }

  h6 {
    text-align: center;
  }

  .card {
    width: 30%;
  }

  .card-img-top {
    height: 300px;
  }
}

/* Fonts */
@font-face {
  font-family: "Fipps";
  src: url('font/Fipps-Regular.otf') format('truetype');
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
